/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

html, body {
  height: 100%;
  width: 100%;
  font-family: "Nunito", sans-serif;
  color: #222;
}

.navbar {
  padding: .8rem;
  /* height: 10vh; */
}

.navbar-nav li {
  padding-right: 1.2rem;
}

.nav-link {
  font-size: 1.1em !important;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 5rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px black;
}

.carousel-caption h3 {
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 1px 1px 10px black;
  padding-bottom: 1rem;
}

.btn-primary {
  background-color: #9E5DB3;
  border: 1px solid #9E5DB3;
}
.btn-primary:hover {
  background-color: #E0FFC7;
  border: 1px solid #E0FFC7;
  color: #AE79B3;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.fa-code {
  color: #e54d26;
}

.fa-bold {
  color: #563d7c;
}

.fa-css3 {
  color: #2163af;
}

.fa-code, .fa-bold, .fa-css3 {
  font-size: 4rem;
  margin: 1rem;
}

.fun {
  width: 100%;
  margin-bottom: 2rem;
}

#emoji {
  background-color: #000;

}

.gif {
  max-width: 100%;
}

.social a {
  font-size: 4.5rem;
  padding: 3rem;
}

.fa-wikipedia-w {
  color: #000;
}
.fa-newspaper {
  color: #992644;
}
.fa-facebook-square {
  color: #3b5998;
}
.fa-wikipedia-w:hover,
.fa-newspaper:hover,
.fa-facebook-square:hover {
  color: #d5d5d5;
  position: relative;
  top: 0.4rem;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-top: 1rem;
}

hr.light-100 {
  width: 100%;
}

/* Exceptional Fixed Background */
#fixed {
  background-image: url("img/outbreak.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Media Queries */
@media (max-width: 992px) {
  .social a {
    font-size: 4rem;
    padding: 2rem;
  }
  #fixed {
    min-height: 450px;
  }
}
@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }

  .carousel-caption h1 {
    font-size: 3.5rem;
  }

  .carousel-caption h3 {
    font-size: 1.4rem;
    font-weight: 400;
    padding-bottom: .2rem;
  }
  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4 {
    font-size: 200%;
  }
  .social a {
    font-size: 2.5rem;
    padding: 1.2rem;
  }
  #fixed {
    display: none;
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }

  .carousel-caption h1 {
    font-size: 2.5rem;
  }

  .carousel-caption h3 {
    font-size: 1.1rem;
    font-weight: 400;
    padding-bottom: .2rem;
  }
  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }
  .carousel-indicators {
    display: none;
  }
  .display-4 {
    font-size: 160%;
  }
  .social a {
    font-size: 2rem;
    padding: .7rem;
  }
}
